*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "bayon";
    background-color: #ECEBEB;
}
.padre{
    margin-top: 120px;
    margin-bottom: 80px;
}
/*div del titulo*/
.padre .titulo{
    width: max-content;
    margin: 50px auto;
}
/*cambiar la forma de el texto*/
.padre h2{
    color: white;
    font-size: 35px;
    text-align: center;
}
/*informacion div blanco*/
.padre .hijo{
    background-color: white;
    width: 700px;
    border-radius: 28px;
    display: flex;
    margin: 0 auto;
    border: 1px solid black;
    padding: 10px;
}
.left .redes{
    width: max-content;
}
.padre .hijo .left{
    padding-top: 50px;
}
.padre .hijo .right{
    width: 100%;
    border-radius: 28px;
    margin-right: -150px;
}
/*logo de la parte derecha*/
.right div{
    width: max-content;
    margin: 10px auto;
}
.right img{
    width:150px;
}
/*espacio de whatsaap*/
.ws{
    display: flex;
    width: max-content;
    height: max-content;
    margin-top: -30px;
}
.ws p{
margin-top: 15px;
font-size: 25px;
}
.ws img{
    width: 100px;
    margin-left: -25px;
}
/*fin espacio de facebook*/
/*inicio espacio ig*/
.ig{
    display: flex;
    width: max-content;
    height: max-content;
    margin-top: -30px;
}
.ig p{
margin-top: 15px;
font-size: 25px;
}
.ig img{
    width: 70px;
}
/*fin espacio de ig*/
/*Inicio espacio fb*/
.fb{
    display: flex;
    width: max-content;
    height: max-content;
    margin-top: -20px;
}
.fb p{
margin-top: 15px;
font-size: 25px;
}
.fb img{
    width: 70px;
}
/*fin espacio fb*/
/*inicio espacio yt*/
.yt{
    display: flex;
    width: max-content;
    height: max-content;
    margin-top: 0px;
}
.yt p{
margin-top: 5px;
font-size: 25px;
}
.yt img{
    width: 70px;
    margin-top: 5px;
}
/*fin espacio yt*/
/*parte de abajo*/
.prueba{
    width: 100%;
}
.prueba img{
    width: 100%;
    position: absolute;
    z-index: -1;
}