*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../imagen/contactanos/back.png");
    background-size:100% ;
    background-repeat: no-repeat;
    font-family: "bayon";
}
.padre{
    margin-top: 170px;
}
/*div del titulo*/
.padre .titulo{
    width: max-content;
    margin: 0 auto;
}
/*cambiar la forma de el texto*/
.padre h2{
    color: white;
    font-size: 60px;
    text-align: center;
}
/*informacion div blanco*/
.padre .hijo{
    background-color: white;
    padding: 10px;
    margin: 0 190px;
    border-radius: 28px;
}