* {
    padding: 0;
    margin: 0;
  }
  body{
      background-color: #ECEBEB;
  }
  .back img {
    width: 100%;
    filter: brightness(40%);
    height: 600px;
    object-fit: cover;

  }
  
  .back .titulo {
    position: absolute;
    top: 50%;
    color: white;
    width: 100%;
    text-align: center;
    font-family: "bayon";
    font-size: 65px;
  }
  #tipos {
      background-color: white;
      font-size: 30px;
      border: 1px black solid;
  }

  #ayudaEspecial {
      background-color: #3C83ED;
      font-family: "red hat display";
      width: 400px;
      height: 500px;
      text-align: justify;
      border: 2px solid rgb(255, 255, 255);
      color: #ECEBEB;
    }

    #ayudaEspecial img{
        width: 350px;
        height: 300px;
        border-radius: 40px;
        object-fit: cover;  
        margin-top: 10px;      
    }

   #ayudaEspecial:hover {
        background-color: #6FC6FF; /* Cambio de color al acercar el mouse */
    }



    #comida {
        background-color: white;
        font-family: "red hat display";
        width: 400px;
        height: 500px;
        text-align: justify;
        border: 1px solid black;
        color: black;
    }

    #comida img{
        width: 350px;
        height: 300px;
        border-radius: 40px;
        object-fit: cover;  
        margin-top: 10px;      
    }

    #comida:hover {
        background-color: #6FC6FF; /* Cambio de color al acercar el mouse */
        color: #ECEBEB;
    }


    #empleados {
        background-color:  #3C83ED;
        font-family: "red hat display";
        width: 400px;
        height: 500px;
        text-align: justify;
        border: 2px solid rgb(255, 255, 255);
        color: #ECEBEB;

    }

    #empleados img{
        width: 350px;
        height: 300px;
        border-radius: 40px;
        object-fit: cover;  
        margin-top: 10px;      
    }

    #empleados:hover {
        background-color: #6FC6FF; /* Cambio de color al acercar el mouse */
    }



  #aburrido  {
      text-align: justify;
      width: 1250px;
      height: 300px;
      background-color:  #3C83ED;
      border-radius: 40px;
      margin-top: 20px;
      margin-bottom: 20px;
      border: 4px solid rgb(255, 255, 255);
    }

    #aburrido:hover {
        background-color: #6FC6FF; /* Cambio de color al acercar el mouse */
    }


    #aburrido  p{
        font-size: 60px;
        margin-top: 80px;
        font-family: "bayon";
    }

    #aburrido1  img{
        height: 300px;
        object-position: cover;
        width: 400px;
    }


    #ansioso  {
        text-align: justify;
        width: 1250px;
        height: 300px;
        background-color:  #3C83ED;
        border-radius: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: 4px solid rgb(255, 255, 255);

    }

    #ansioso:hover {
        background-color: #6FC6FF; /* Cambio de color al acercar el mouse */
    }


    #ansioso p {
        font-size: 60px;
        margin-top: 80px;
        font-family: "bayon";
        
    }


    #ansioso1  img{
        height: 240px;
        object-position: cover;
        margin-top: 10px;

    }



  @media screen and (max-width:768px){      
        .back .titulo {
          position: absolute;
          top: 12%;
          font-size: 40px;
        }
        #alimentos1 {
          margin:10px auto;
        }
        #alimentos {
          background-color: #345D9B;
          border-radius: 20px;
      }
  }