*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Be Vietnam Pro";
    background-color: #ECEBEB;
}
.back img{
    margin-top: 100px;
    width: 100%;
    filter: brightness(50%);
}
header{
    position: fixed;
    z-index: 1;
}
.titulo{
    font-family: "red hat display";
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: white;
    position: absolute;
    margin-top: -360px;
}
.recomendaciones{
    margin-top: 50px;
    color: #888686;
    font-size: 30px;
    margin-left: 90px;
}
/*empieza galeria de imagenes*/
.galeria{
    display: flex;
    margin: 60px auto;
    width: max-content;
}
.galeria img{
    width: 511px;
}
.galeria .gale-1{
background-color: white;
width: max-content;
border-radius: 47px;
margin: 0 30px;
}
.galeria .gale-1 .text-1{
    margin: 20px 0;
    text-align: center;
    width: 100%;
}
/*responsive de pagina web*/
@media screen and (max-width:1150px) {
    .galeria{
        display: block;
    }
}