* { 
    padding: 0;
    margin: 0;
}
nav{
    font-family: "bayon";
}
/*logo de la pagina web*/
#logo {
    width: 100px;
}
.nav-link{
    color: #273758;
}

body{
    font-family: "Be vietnam pro";
    background-color: #ECEBEB;
}

.back img{
    width: 100%;
    filter: brightness(50%);
    margin-top: 0px;
    }

    .back .titulo{
        position: absolute;
        top: 50%;
        color: white;
        width: 100%;
        text-align: center;
        font-family: "Be vietnam pro";
        font-size: 65px;

    }

    .contenido{
        background-color: #ECEBEB;
    }

    .diferentes_tipos{
        margin-top: 400px ;
        color: #8B8B8B;
        font-size: 25px;
        margin-left: 10px;
    }

    .tipos{
        display: flex;
        margin: 60px auto;
        width: max-content;
        height: 750px;
        color: #000;
    }


    .tipos img{
        width: 511px;
        margin-top: 50px;
        filter: brightness(100%);
    }


    .tipos .tipos-1{
    background-color: white;
    width: max-content;
    border-radius: 47px;
    margin: 0 30px;
    }


    .tipos .tipos-1 .text-1{
        margin: 20px 0;
        text-align: center;
        width: 100%;
    }

.text-2{
    text-align: justify;
    width: 450px;
    height: 40px;
    font-size: 15px;
    margin-top: 30px;
    margin-left: 26px;
}





   /*responsive de pagina web*/
   @media screen and (max-width:1150px) {
    .tipos{
        display: block;
    }
}