* {
  padding: 0;
  margin: 0;
}
body{
    background-color: #ECEBEB;
}
.back img {
  width: 100%;
  filter: brightness(50%);
}

.back .titulo {
  position: absolute;
  top: 50%;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Be vietnam pro";
  font-size: 65px;
}
#tipos {
    background-color: white;
    font-size: 30px;
    border: 1px black solid;
}
#articulo {
    background-color: white;
    font-family: "red hat display";
    width: 400px;
    text-align: justify;
    border: 1px solid black;
}
#bodega {
    background-color: white;
    border: 1px solid black;
}
#bodega #registro {
    text-align: justify;
}
#bodega {
    display: flex;
    align-items: center;
    justify-content: center;
}
#liquidos {
    background-color: #345D9B;
    border-radius: 10px 0 0 10px;
}
#liquidos1 {
    background-color: #345D9B;
    padding: 0 !important;
}
#pLiquidos p {
    text-align: justify;
}
#pLiquidos ul {
    text-align: justify;
    color: white;
}
#restringidos {
    background-color: white;
    border: 1px solid black;
}