* {
  padding: 0;
  margin: 0;
}
body{
    background-color: #ECEBEB;
}
.back img{
    width: 100%;
    filter: brightness(50%);
    object-fit: cover;
    max-height: 500px;
}
.titulo{
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "red hat display";
    margin-top: -300px;
}
ul li {
    text-align: justify;
}
@media screen and (max-width:768px){      
     .titulo {
        position: absolute;
        top: 54%;
        font-size: 29px;
      }
      #tipos {
        width: 75% !important;
        padding: 2% !important;
      }
      .col-12 {
        width: 75% !important;
        margin: 5% auto !important;
      }
      #equipaje .col-12 {
        width: 100% !important;
      }
      #equipaje {
        width: 75% !important;
      }
}