.back img {
  width: 100%;
}
.back .titulo {
  position: absolute;
  top: 150px;
  color: white;
  width: 100%;
  text-align: center;
  font-family: "Be vietnam pro";
  font-size: 65px;
}
body {
    background-color: #ECEBEB;
}
#vuelos {
    border: 1px solid black;
}
#personas{
 background-color: blue;
}
#columna {
    border: 2px solid black;
    border-radius: 50px;
}
#columna .col:not(:first-child) {
    border-left: 1px solid black ;
}
#botonB {
  background-color: #273758;
}
#avion {
  width: 30px;
  height: max-content;
}
#viajes > p {
  font-size: 14px;
}
