*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #f6f6f6;
  font-family: "bayon";
}

.espacio{
  height: 40px;
}

.card {
  width: 100%;
  height: 100px; 
}

.card img{
  height:min-content;
  width: 650px;
  object-fit: cover;
}


.card-text{
  text-align: justify;
}


@media screen and (max-width: 768px) {
  #normal {
    width: 75% !important;
    padding: 10px !important;
  }
}
